pkgbase = alcom-beta
	pkgdesc = A fast open-source alternative of VRChat Creator Companion (VCC)
	pkgver = 1.1.2
	pkgrel = 1
	url = https://github.com/vrc-get/vrc-get
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cargo-about
	makedepends = nodejs
	makedepends = npm
	makedepends = dotnet-sdk
	makedepends = dotnet-runtime
	makedepends = lld
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = gcc-libs
	depends = glibc
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = openssl
	depends = pango
	depends = webkit2gtk-4.1
	optdepends = unityhub: Used to open created projects and migrate projects from older versions of Unity.
	options = !lto
	source = alcom-beta-1.1.2.tar.gz::https://github.com/vrc-get/vrc-get/archive/refs/tags/gui-v1.1.2.tar.gz
	source = build.patch
	sha256sums = 90e302aa1b27ca0de5726e3a04ab9e2e6705a7439670baa87a5560221fd5e16d
	sha256sums = 1d0012dec7b5f7a8a91c21ecf4f5bf681ca43d67b7a03b80915d6c1aeb6e5c53

pkgname = alcom-beta
