pkgbase = alcom
	pkgdesc = A fast open-source alternative of VRChat Creator Companion (VCC)
	pkgver = 1.1.0_beta.1
	pkgrel = 1
	url = https://github.com/vrc-get/vrc-get
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = cargo-about
	makedepends = nodejs
	makedepends = npm
	makedepends = dotnet-sdk
	makedepends = dotnet-runtime
	makedepends = lld
	depends = cairo
	depends = desktop-file-utils
	depends = gdk-pixbuf2
	depends = gcc-libs
	depends = glibc
	depends = glib2
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libsoup3
	depends = openssl
	depends = pango
	depends = webkit2gtk-4.1
	optdepends = unityhub: Used to open created projects and migrate projects from older versions of Unity.
	options = !lto
	source = alcom-1.1.0-beta.1.tar.gz::https://github.com/vrc-get/vrc-get/archive/refs/tags/gui-v1.1.0-beta.1.tar.gz
	source = build.patch
	sha256sums = ee7aa148851174c0811e38dc767f5ff894e50a1e8bffe8ffde4e03eeabecb065
	sha256sums = d232090f68d7a03159b333efe01afdd3228836d44bbd9cc55a36c234160986d9

pkgname = alcom
